@page
@model EFCoreHotel_RazorPages.Pages.Rooms.GetRoomsModel
@{
    ViewData["Title"] = "GetRooms";
}

<h1>List of  rooms</h1>

<table class="table">
    <thead>
        <tr>
            <th>  Room No  </th>
            <th> Price  </th>
            <th> Types </th>
            <th>  Hotel No </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Rooms != null)
        {
            @foreach (var item in Model.Rooms)
            {
                <tr>
                    <td> @item.RoomNo  </td>
                    <td>  @item.Price </td>
                    <td>  @item.Types </td>
                    <td>  @item.HotelNo  </td>
                </tr>
            }
        }
</table>
