@page
@model EFCoreHotel_RazorPages.Pages.Guests.GetGuestsModel
@{
    ViewData["Title"] = "GetGuests";
}

<h1>List of Geusts</h1>
<table class="table">
    <thead>
        <tr>
            <th> Guest No   </th>
            <th>  Name  </th>
            <th> Address  </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Guests != null)
        {
            @foreach (var item in Model.Guests)
            {
                <tr>
                    <td> @item.GuestNo  </td>
                    <td> @item.Name </td>
                    <td> @item.Address </td>
                </tr>
            }
        }
</table>
